/* overall formatting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efefee;
}

/* nav/header styling */
.nav {
  width: 100vw;
  height: 100px;
  background-color: #efeeee;
  box-shadow: 10px 10px 12px 0 rgba(0, 0, 0, 0.07);
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 3rem;
  list-style-type: none;
}
.nav li.logo {
    background: #b1b1b1;
    -webkit-background-clip: text;
    background-clip: text;
    margin-right: auto;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 1.5rem;
    color: transparent;
    font-weight: 900;
    font-size: 36px;
    text-shadow: rgba(255, 255, 255, 0.5) 1px 2px 1px;
}
.nav li:not(.logo) {
    background: #b1b1b1;
    -webkit-background-clip: text;
    background-clip: text;
    margin: 0 1rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1), -4px -4px 6px white;
    border-radius: 10px;
    font-family: 'Baloo Thambi 2', cursive;
    cursor: pointer;
    transition: color 0.2s ease-out, transform 0.2s ease-out;
    color: transparent;
}
.nav li:not(.logo):hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1), -4px -4px 10px white;
}
.nav li:not(.logo):focus {
  outline: none;
  transform: scale(0.95);
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1), -4px -4px 10px white, 4px 4px 10px 0 rgba(0, 0, 0, 0.1) inset, -4px -4px 10px white inset;
}
.nav li:not(.logo):hover, .nav li:not(.logo):focus {
  color: orangered;
}

/* Profile Card Hover Effect Stylings */

.container {
    height: auto;
    width: 85%;
    max-height: 800px;
    max-width: 1280px;
    min-height: 600px;
    min-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid black;
}
  
.border {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
}
 
.border:hover {
    border: 1px solid white;
}
    
.card {
    height: 379px;
    width: 300px;
    background: grey;
    border-radius: 10px;
    transition: background 0.8s;
    overflow: hidden;
    background: black;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.card0 {
    background: url('../images/Sweet-Treats.png') top center no-repeat;
    background-size: 600px;
}

.card0:hover {
    background: url('../images/Sweet-Treats.png') center center no-repeat;
    background-size: 600px;
}
    
.card0 h2{
    opacity: 1;
    color: black;
}

.card1 {
    background: url('https://i.imgur.com/uK3CfMt.png') top center no-repeat;
    background-size: 300px;
}

.card1:hover {
    background: url('https://i.imgur.com/uK3CfMt.png') center center no-repeat;
    background-size: 600px;
}
    
.card1 h2{
    opacity: 1;
    color: white;
}
      
.icons {
    opacity: 1;
    color: white;
}
      
/* footer styling */

footer {
    background: #b1b1b1;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.5) 1px 2px 1px;
    font-size: 70px;
    width: 100vw;
    height: 100px;
    background-color: #efeeee;
    box-shadow: 10px 10px 12px 0 rgba(0, 0, 0, 0.07);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3rem;
    list-style-type: none;
}  

/* clock styling */
.clock {
    width: 350px;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("https://i.postimg.cc/LX1nGGbf/clock.png");
	background-size: cover;
	border: 4px solid #e6e7ee;
	border-radius: 50%;
	box-shadow: 0 -15px 15px #fff,
				inset 0 -15px 15px #fff,
				0 15px 15px #b8b9be,
				inset 0 15px 15px #b8b9be
				
}

.clock::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 50%;
	z-index: 10000;
}

.clock .hour,
.clock .min,
.clock .sec {
	position: absolute;
}

.clock .hour, .hr {
	width: 160px;
	height: 160px;
}

.clock .min, .mn {
	width: 190px;
	height: 190px;
}

.clock .sec, .sc {
	width: 230px;
	height: 230px;
}

.hr,
.mn,
.sc {
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	border-radius: 50%;
}

.hr:before {
	content: '';
	position: absolute;
	width: 8px;
	height: 80px;
	background: #F44336;
	z-index: 10;
	border-radius: 6px 6px 0 0;
}

.mn:before {
	content: '';
	position: absolute;
	width: 4px;
	height: 90px;
	background:#607D8B;
	z-index: 11;
	border-radius: 6px 6px 0 0;
}

.sc:before {
	content: '';
	position: absolute;
	width: 2px;
	height: 150px;
	background: #607D8B;
	z-index: 12;
	border-radius: 6px 6px 0 0;
}    